// Place all the styles related to the Sectors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#table1 {
  width: 50%;
  border-radius: 1px;
  border-collapse: collapse;
  border-spacing: 0;
  float: center;
}