#headline-container {
  margin-bottom: 5px;
}

#login-box {
  margin: 0 auto;
  width: 450px;
  top: 110px;
  position: relative;
}

#login-form-container {
  background-color: #CCCCCC;
  border: 1px #aaa solid;
}

#logo-container {
  vertical-align: middle;
}

#logo {
    width: 128px;
    height: 128px;
}

